@model VehicleTracker.Models.Vehicle

@{
    ViewData["Title"] = "Edit Vehicle";
}

<h2>Edit</h2>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            @*<div class="form-group">
                <label asp-for="VehicleName" class="control-label"></label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CurrentFuelLevel" class="control-label"></label>
                <select asp-for="CurrentFuelLevel" class="form-control" asp-items="Html.GetEnumSelectList<Vehicle.FuelLevel>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="CurrentFuelLevel" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="NumberOfTires" class="control-label"></label>
                <input asp-for="NumberOfTires" class="form-control" />
                <span asp-validation-for="NumberOfTires" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  asp-controller="Tires" asp-action="Index"  asp-route-id="@Model.ID">Edit Tires</a> | <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
